body{
    font-family: Arial, Verdana;
    background-color:#000000;
    color:#ffffff;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    text-align: center;
}

h1{
    font-size: 42px;
    padding: 15px 15px 15px 15px;
}

h2{
    color:#0D0D0D;
    font-size: 30px;
}

p.introduction, p.red, p.blue, p.yellow, p.green, p#footer{
    font-size: 24px;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
}


img{
    border: 10px dashed #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}


div, div.red{
    box-sizing: border-box 3px solid #ffffff;
    min-height: 125px;
    padding: 20px;
}

.introduction{
    border: 3px solid #ffffff;
    border-radius: 15px;
    margin-top: 15px;
    line-height: 200%;
}

.introduction p{
    text-align: left;
}

.red{
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
    background-color: #ff0000;
    margin-left: 50px;
}

.red p{
    text-align: right;
}

.blue{
    background-color: #0000ff;
    margin-right: 50px;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
}

.blue h2{
    color:#C4C4C4;
    text-align: left;
}

.blue p{
    color:#C4C4C4;
    text-align: left;
}

.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
}

.yellow p{
    color: #707070;
}

.green{
    background-color: #008500;
    margin-right: 50px;
    border-right: 5px solid #ffffff;
    border-top: 2px solid #ffffff;
    text-align: left;
}

.green p{
    text-align: left;
}

footer{
    border: 5px solid #ffffff;
    background: linear-gradient(#000000, #0000ff 25%, #0066ff 70%, #000000 100%)
}

footer p{
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}